

<div id='slides'>
	<div id='top'>
		
		<button>Save</button>
	
	</div>
	<div id='left'>
	<a href='#' id='add'>add</a>
	<a href='#' id='sync'>sync</a>
	<ul id='slides-collection'>
	
	</ul>
	</div>
	<div id='right'>
	
	<pre id='slide-content'></pre>
	</div>
</div>

