<!--
<div id="tabs">
	<ul>
		<li><a href="#slide-content">View Source</a></li>
		<li><a href="#slide-design">Design (alpha)</a></li>
	</ul>
</div>

	<div id="slide-design">
		this doesn't work
	</div>
	
-->
<div id='slides'>
	<div id='top' class='clearfix'>

		<div id='title'><h3></h3><button id='rename'>rename</button></div>
		<div id='buttons'>
		<button id='save'>Save</button>
		</div>
	</div>
	
	<div id='slides-global'>
		<div id='slides-commands'>
			<button id='add'>new slide</button>
		</div>
		
		<ul id='slides-collection'></ul>
	</div>
	<div id='right'>
	
	

	<pre id='slide-content'></pre>
	</div>
</div>

