
<div id='slides-wrapper'>
	<div id='controls-wrapper'>
		<form method="post">
		    <input type="text" name="title" value="Deck name" />
		    <input type="submit" value="Add" />
		</form>
	</div>
	<div id='slides-content'>
		
		<div id='template-controls-container'>
			<div class="ui-widget-header ui-corner-all ui-helper-clearfix">Controls</div>
			<ul id='template-controls'></ul>
		</div>
		
		<div id='slide-single' class='clearfix'>
		


		<div class='editor' data-selector='h1'><h1>H1</h1></div>	
		<div class='editor' data-selector='h2'><h2>H2</h2></div>	
		<div class='editor' data-selector='h3'><h3>H3</h3></div>	
		<div class='editor' data-selector='pre'><pre>Preformatted text</pre></div>	
		<div class='editor' data-selector='code'><code>Code sample</code></div>	
		<div class='editor' data-selector='cite'><cite>Citation</cite></div>	
		
		</div>
		
	</div>
</div>


<style id='styles'></style>

<script>$(template.init);</script>