
<style>


#create-toolbar { padding: 10px; width: 860px; margin:0 auto; border-bottom: solid 2px #333;  }
#create-toolbar #deck-title { width: 145px; padding-left: 5px; }
#create-toolbar h2 {float:left; }
#create-toolbar .step { display:inline-block; width: 16px; height: 16px; font-size:12px; color: white; font-family: Tahoma; border-radius: 15px; background: #669; padding:10px; text-align:center; font-weight:bold;  }
.c { position:absolute; top:60px; bottom:0; left:0; right:0; }
</style>
	
	<div id='create-toolbar' class='clearfix'>
		<form method="post">
		    <input type="hidden" name="template" value="" />
		
		<table width="100%">
			<tr>
			<td width='33%' align="left"><span class='step'>1</span> Name it:
		    	<input type="text" name="title" style='width: 130px;' value="My New Deck" />
			</td>
			
			<td  width='33%'  align="center"><span class='step'>2</span> Edit your styles below &darr;</td>
			
			<td  width='33%'  align="right"><span class='step'>3</span> <input type="submit" id="deck-create" value="Create" /></td>
			
			</tr>
		</table>
		</form>
	</div>
	
	<iframe src='/template/create' width='1022' height="100" id="preview-frame">
	
	</iframe>
	
		<div id='template-controls-container'>
			<div class="ui-widget-header ui-corner-all ui-helper-clearfix">Controls</div>
			<ul id='template-controls'></ul>
		</div>
		
		
</div>

<style id='styles'></style>

<script>$(template.init);</script>

