
<style>
    h3 a { color: black; text-decoration: none; }
    h3 a:visited { color: black; }
    h3 a:hover { text-decoration: underline; }
</style>

<h2><%= session.user.name %>'s Slideshows</h2>
  
<div class="deck-list">
    <div>
        <a class="create-button" href="/deck/create">Create a deck</a>
    </div>
	<ul>
		<% for (var i in decks) { %>
		  <li class="deck-preview">
		    <h4><a href="/app/<%= decks[i]._id%>"><%= decks[i].title %></a></h4>
		    <p>Slides: <%= decks[i].slides? decks[i].slides.length : 0 %></p>
		  </li>
		<% } %>
	</ul>
</div>
