	  
<li class='deckpreview'>
  <div>
    <iframe src="/deck/<%= deckthumb._id %>" scrolling="no" style="width:200px; height: 200px;" />
  </div>
  <a href="/deck/embed/<%=deckthumb._id%>">Preview</a> 
  <a href="/deck/export/<%=deckthumb._id%>">Export to Html</a>
  <% if (session.auth && session.user && deckthumb.author && session.user.id == deckthumb.author.id) { %>
  <a href="/deck/edit/<%=deckthumb._id%>">Edit</a>
  <% } %>
</li>
