
<script type='text/javascript'>
    _LOADED_DECK = <%- JSON.stringify(deck) %>
    _LOADED_SLIDES = <%- JSON.stringify(deck.slides) %>
</script>
<style>html {overflow-y:hidden; }</style>
<div id='slides-wrapper'>
	
	<div id='controls-wrapper' class='clearfix'>
    	<div id='deck-title'><h3></h3><button id='rename'>rename</button></div>
    	<div id='deck-buttons'>
    	    <button id='save'>Save</button>
    	    <a href="/deck/<%= deck._id %>" target="_blank">Preview</a>
    	</div>
	</div>
	
    <div id='slides-content'>
        <div id='slides-global'>
            <div id='slides-commands'>
                <button id='add'>new slide</button>
                <button id='remove'>new slide</button>
            </div>
            
            <ul id='slides-collection'></ul>
        </div>
        <div id='slide-single'>
            <div id="tabs">
                <ul>
                    <li><a href="#slide-source-wrapper">View Source</a></li>
                    <li><a href="#slide-design">Preview</a></li>	
                </ul>
            </div>
            <div id='slide-design'>
            <iframe frameborder="0" src='about:blank' id="iDesign"></iframe>
            </div>
            <div id='slide-source-wrapper'>
                <pre id='slide-source'></pre>
            </div>
        </div>
        
    </div>
</div>

<script>$(app.init);</script>


