<p>
    SlideSpot is a presentation builder that uses <a href="http://imakewebthings.github.com/deck.js/">deck.js</a> to create modern HTML Presentations
</p>

<div class="post">
    <a class="button" href="/deck/create">Create Slideshow</a>
    or, <a href="#">view the tutorial</a>
</div>

<div class="post">
<% if (session.auth) { %>
<div class="title"><a href='/dashboard'>Your Slideshows</a>
<% } %>

<h2 class="title"><span>Popular Slideshows</span></h2> 
<ul class='decks clearfix'>
<%- partial('deckthumb', decks) %>
</ul>

