
<div id='site-container'>

<div id="links">
	<h2>What is SlideSpot?</h2>
    <ul>
      <li><a href="/how-it-works">How It Works</a></li>
      <li><a href="/demo">Demo</a></li>
      <li><a href="/dashboard">Your Slideshows</a></li>
   	<ul>
</div>	

<div id="others">
  <h2>See the slideshows others are creating:</h2>
  <ul>
    <% decks.forEach(function(deck){ %>
      <li><a href="/deck/<%=deck._id%>"><%= deck.title %></a> by <%= deck.author? deck.author.name  : 'Unknown'%></li>
    <% }); %>
  </ul>
</div>

</div>
