
<div id="links">
    <ul>
      <li><a href="/dashboard">Your Slideshows</a></li>
      <li><a href="/how-it-works">How It Works</a></li>
      <li><a href="/demo">Demo</a></li>
   	<ul>
</div>	


<section id="header">
  <h1>Slidespot</h1>
  <p>The spot for slides.</p>
</section>
