<div class="post" style="padding-top: 0;">
    <div class="title">
        <h2><span>Welcome to SlideSpot</span></h2>
    </div>
    <p style="padding: 8px 0">
        SlideSpot is a presentation builder that uses <a href="http://imakewebthings.github.com/deck.js/">deck.js</a> to create modern HTML Presentations
    </p>


    Login using one of these services to get started: 
  <ul>
        <li class="facebook"><a href="/auth/facebook"><img src="//facebook.com/favicon.ico" alt="">Facebook</a></li>
        <li class="twitter"><a href="/auth/twitter"><img src="//twitter.com/favicon.ico" alt="">Twitter</a></li>
        <li class="github"><a href="/auth/github"><img src="//github.com/favicon.ico" alt="">Github</a></li>
  </ul>		
</div>

<div class="post">
<% if (session.auth) { %>
    <a class="button" href="/deck/create">Create Slideshow</a>
    <a href="http://comorichweb.no.de/deck/4e5abbc80b92383b730000c9">view the tutorial</a>
<% } %>

<h2 class="title"><span>Popular Slideshows</span></h2> 
<ul class='decks clearfix'>
<%- partial('deckthumb', decks) %>
</ul>

