
<<<<<<< HEAD
<div id="create">
  <a href="/deck/create">Create Slideshow</a>
</div>
=======
>>>>>>> e17ecbfdc13d0066339c9570fa3be63b89379f26

<div id="links">
	<h2>What is SlideSpot?</h2>
    <ul>
      <li><a href="/how-it-works">How It Works</a></li>
      <li><a href="/demo">Demo</a></li>
      <li><a href="/dashboard">Your Slideshows</a></li>
   	<ul>
</div>	

<div id="others">
  <h2>See the slideshows others are creating:</h2>
  <ul class='decks clearfix'>
  <%- partial('deckthumb', decks) %>
  </ul>
</div>

