
<section id="header">
  <h1>See the slideshows others are creating:</h1>
  <ul>
    <% decks.forEach(function(deck){ %>
      <li><a href="/deck/<%=deck._id%>"><%= deck.title %></a> by <%= deck.author? deck.author.name  : 'Unknown'%></li>
    <% }); %>
  </ul>
</section>
