
<div id="create">
  <a href="/deck/create">Create Slideshow</a>
</div>

<% if (session.auth) { %>
<a href='/dashboard'>Your Slideshows</a>
<% } %>

<div id="others">
  <h2>See the slideshows others are creating:</h2>
  <ul class='decks clearfix'>
  <%- partial('deckthumb', decks) %>
  </ul>
</div>

