<style>
  #site-container {
    text-align: center;
  }
</style>
<div id="wrapper"> 
    <div id="page" class="clearfix"> 
        <div id="page-bgtop"> 
            <div id="page-bgbtm"> 
                <div id="content"> 
                    <div id='site-container'>   

<iframe src="/deck/<%= id %>" height="400" width="600" border="0" scrolling="no"></iframe><br />


<a href="/deck/<%= id %>">Full Screen</a><br />
<textarea rows='3' cols='80'><iframe src="http://comorichweb.no.de/deck/<%= id %>" height="400" width="600" border="0" scrolling="no"></iframe></textarea>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'slidespot'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

