<% for (var i in slides) { %>
    <% var slide = slides[i]; %>
    <% if (slide._id) { %>
        <div class="slide" id="<%= slide._id %>">
        
            <div class='slide-inner'>
                <%- slide.content %>
            </div>
        </div>
    <% } %>
<% } %>
