<% if (session.auth) {%>
  <h1><%= session.user.name %>'s Slideshows</h1>
  <ul>
    <li><a href="/app">Create a Deck</a></li>
  </ul>
  <h2>Decks</h2>
  <ul>
  <% for (var i in decks) { %>
    <li class="deck-preview">
      <h4><a href="/app/<%= decks[i]._id%>"><%= decks[i].title %></a></h4>
      <p>Slides: <%= decks[i].slides? decks[i].slides.length : 0 %></p>
    </li>
  <% } %>
  </ul>
<% } else { %>
      <p>Please Login:</p>
      <ul>
			<li class="facebook"><a href="/auth/facebook"><img src="//facebook.com/favicon.ico" alt="">Facebook</a></li>
			<li class="twitter"><a href="/auth/twitter"><img src="//twitter.com/favicon.ico" alt="">Twitter</a></li>
			<li class="github"><a href="/auth/github"><img src="//github.com/favicon.ico" alt="">Github</a></li>
      </ul>
<% } %>
