html {
	gradient: #222_#000;
	height: 100%;
}
body {
	color: #000;
	margin: 0;
	font: 12px 'helvetica neue', helvetica, arial, sans-serif;
	text-rendering: optimizeLegibility;
}
img {
	-ms-interpolation-mode:bicubic;
}

#slides-global { float:left; width: 150px; text-align: center;}
#slides-commands { margin-top:3px; border-bottom:1px dashed; background: #bbb; margin-right:13px; }
#slide-single { position:absolute; left: 150px; right:0; top:40px; bottom:0;  }
#slide-source-wrapper, #slider-source-design, #slide-source { margin: 0; position: absolute; top: 50px; bottom: 0; left: 0; right: 0; }
#slide-source { top:0; }
#slide-design iframe { width:100%; border: solid 2px #333; height: 400px; } 

#slides { position:relative; }
#slides-collection { height: 400px; overflow-y:scroll; margin:0; padding:0; background: #ddd; }
#slides-collection li { width: 70px; margin:10px auto; padding:0; background: #88d; height:70px; overflow:hidden; }
#slides-collection li.active { outline: solid 2px orange; }
#title { float:left; margin-bottom: 10px; }
#title h3 { margin:0; padding:0; float:left; font-size:24px; font-weight: lighter; padding-right:4px;  }
#buttons { float:right; }

.logins {
	position: fixed;
	top: 35px;
	right: 60px;
	gradient: #2b2b2b_#010101;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 5px 5px;
	margin: 0 0 5px;
}
.logins li {
	padding: 4px 10px;
	border-bottom: 1px solid #eee;
}
.logins li:last-child {
	border-bottom: 0;
}
.logins img {
	margin: 0 7px 0 0;
	position: relative;
	top: 3px;
	width: 16px;
	height: 16px;
}
.logins a {
	color: #000;
}
.logins .padding
{
	border-radius: 3px;
	border: 1px solid #fff;
	font-size: 13px;
	background: #fff;
}
